<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-button>
    <ion-title>Doctors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="all-doctors ion-text-center">
    <div id="container">
      <ion-card>
        <ion-card-header>
          <img src="../../assets/images/profile.jpeg" alt="">
          <ion-card-title>Dr Sampath Athukorala</ion-card-title>
          <ion-card-subtitle>Cardiologist</ion-card-subtitle>
          <ion-button color="secondary">Book Now</ion-button>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <img src="../../assets/images/profile.jpeg" alt="">
          <ion-card-title>Dr Sampath Athukorala</ion-card-title>
          <ion-card-subtitle>Cardiologist</ion-card-subtitle>
          <ion-button color="secondary">Book Now</ion-button>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <img src="../../assets/images/profile.jpeg" alt="">
          <ion-card-title>Dr Sampath Athukorala</ion-card-title>
          <ion-card-subtitle>Cardiologist</ion-card-subtitle>
          <ion-button color="secondary">Book Now</ion-button>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <img src="../../assets/images/profile.jpeg" alt="">
          <ion-card-title>Dr Sampath Athukorala</ion-card-title>
          <ion-card-subtitle>Cardiologist</ion-card-subtitle>
          <ion-button color="secondary">Book Now</ion-button>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <img src="../../assets/images/profile.jpeg" alt="">
          <ion-card-title>Dr Sampath Athukorala</ion-card-title>
          <ion-card-subtitle>Cardiologist</ion-card-subtitle>
          <ion-button color="secondary">Book Now</ion-button>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <img src="../../assets/images/profile.jpeg" alt="">
          <ion-card-title>Dr Sampath Athukorala</ion-card-title>
          <ion-card-subtitle>Cardiologist</ion-card-subtitle>
          <ion-button color="secondary">Book Now</ion-button>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
