ion-button {
  --background: none;
}

ion-card-header {
  img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding-bottom: 10p;
  }
}

.top-content {
  img {
    padding-top: 30px;
  }
}
