<ion-header>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
      <div class="page-header">
        <h1><b>Welcome to e-channeling</b></h1>
        <h3>Channel Your Doctor</h3>
      </div>

    <img src="../../assets/images/welocme.png"/>

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Log in</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Signup</ion-button>
    </div>
  </div>
</ion-content>
