<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-button>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-info">
    <div class="profile-img ion-text-center">
      <img src="../../assets/images/profile.jpeg"/>
    </div>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input value="Alex Logan"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input value="xxxx, xxxxxxxxx, xxxxxxxxx"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input value="011xxxxxxx"></ion-input>
    </ion-item>
  </div>
</ion-content>
