<ion-header [translucent]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button slot="start">
        <ion-menu-button menu="main-menu">
        </ion-menu-button>
      </ion-button>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
  <div class="top-content ion-text-center">
    <h1>Welcome to E-Channeling</h1>
    <p>Find Your Doctor Easily</p>
    <img src="../../assets/images/find-doc.svg" alt="">
  </div>
  <div class="doc-department ion-padding ion-text-center">
    <h3>FInd Your Doctor by Specialty</h3>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Cardiologist</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Dietician</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Physician Obesity And Weight Management Package</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Eye Surgeon</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
